/* style.css */

body {margin: 0px;
      background-color: darkgray;}

h1{background-color: yellow;
   padding: 30px;}

p {font-size: 22px;}

.flex_row{display: flex;
          flex-direction: row;}

.flex_column{display: flex;
	     flex-direction: column;}

.nav_bar{background-color: lightgray;
	 width: 100%;}

.home_page{background-color: darkgray;
	   width: 100%;
           padding: 10px;}

.projects_page{background-color: darkgray;
	   width: 100%;
           padding: 10px;}

.jobs_page{background-color: darkgray;
	   width: 100%;
           padding: 10px;}

.contact_page{background-color: darkgray;
	   width: 100%;
           padding: 10px;}

.nav_item{color: black;
	  text-align: center;
	  width: 25%;
	  height: 20px;
  	  border: 2px solid lightgray;}

a:link{text-decoration: none;
       color: black;}

a:hover{text-decoration: underline;
        color: black;}
